.communityWrite {
  /* display: flex; */
  /* flex-direction: column; */
}

.communityWriteOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.articleTitle {
  width: 100%;
  border: 1px solid #dddfe4;
  height: 40px;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
}

.articleSelect {
  padding: 10px 20px;
  border: 1px solid #dddfe4;
  width: 100px; 
}

.fr-wrapper {
  box-shadow: none;
}

select:focus, textarea:focus, input:focus{
  outline: none;
}