.guidePostCard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}

.guidePostTitle {
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  word-break: break-all;
}

.guidePostMeta {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  line-height: 20px;
}

.guideViewCount {
  color: grey;
}

.guideLikeCount {
  color: grey; 
  margin-left: 5px;
}

.guideCommentCount {
  color: grey; 
  margin-left: 5px;
}

.guideAuthor {
  color: #0B81EA;
  margin-left: 5px;
}

.guideSpell {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

.skillTree {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
}

.skillTreeHeader div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillTreeRow {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.skillTreeRow div {
  flex: 1;
  box-sizing: border-box;
  border-collapse: collapse;
  margin: 1px;
}

.skillTreeLevel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checked {
  background-color: #4A90E2;
}

.item {
  width: 50px;
  height: 50px;
}

.itemBuildName {
  color: #4A90E2;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;
}

.itemBuild {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
}

.runeCol {
  display: flex;
  flex-direction: row;
}

.rune {
  width: 40px; 
  height: 40px;
}

.runeBuildName {
  color: #4A90E2;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;
}

.runeBuild {
  margin-bottom: 12px;
}

.runeName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  min-width: 140px;
}

.runeMeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
}

.guideDescription {
  font-size: 14px;
  line-height: 20px;
}

.guideLike {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5AB0FF;
  border: 1px solid #5AB0FF;
  border-radius: 6px;
  height: 25px;
}

.guideLike:hover {
  background-color: #5AB0FF;
  color: white;
}

.comment {
  display: flex;
  flex-direction: column;
}

.commentMeta {
  display: flex;
  flex-direction: row;
  height: 24px;
  font-size: 14px;
}

.commentProfile {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 10px;
}

.commentAuthor {
  margin-right: 10px;
}

.commentCreatedAt {
  color: grey;
}

.commentContent {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}