section {
  padding: 20px;
}

.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  font-size: 18px;
  color: #053B6B;
  font-weight: bold;
  margin-bottom: 20px;
}

.sectionArrow {
  align-self: flex-end;
}

/* .slick-prev {
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 5%;
}
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  right: 5%;
} */

.slick-dots {
  bottom: 0px;
}

.slick-dots li button:before {
  opacity: 0.85;
  color: white;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color:#0B81EA !important;
}

.guideOfTheDay{
  display: flex !important;
  height: 240px;
  background-image: url(../images/splash.jpg);
  background-size: cover;
  color: white;
  box-sizing: border-box;
  align-items: flex-end;
  padding: 20px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.featureSlick {
  padding-left: 30px;
  height: 200px;
}

.thumb {
  width: 200px;
  height: 200px;
}