.Login {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: 100vh;
  padding: 40px;
}

.loginLogo {
  display: flex;
  justify-content : center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #0B81EA;
}

.socialLogin {
  display: flex;
  justify-content : center;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px grey;
  margin-bottom: 10px;
}

.facebook {
  background-color: #3B5998;
  color:white;
}

.google {
  color: black;
  border: thin solid #888; 
}

.google :focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.socialLogo {
  height: 18px;
  width: 18px;
  margin-right: 24px;
}

.emailLoginForm {
  display: flex;
  flex-direction: column;
}

.emailLoginInput {
  font-size: 16px;
  margin: 0px;
  padding: 10px 0px;
  border: 0px;
  border-bottom: 1px solid #dddfe4;
}

.emailLoginButton {
  margin-top: 10px;
  font-size: 16px;
  background-color: lightgrey;
  color: white;
  font-weight: bold;
  padding: 10px 0px;
  border: 0px;
  border-radius: 6px;
}

.loginLink {
  margin-top: 6px;
  align-self: flex-end;
  color: #0b81ea;
}

.signupLink {
  margin-left: 10px;
  color: #0b81ea;
}