@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appMain {
  overflow: hidden;
  flex: 1;
}


.appHeader {
  background-color: #0B81EA;
  display: flex;
  height: 46px;
  flex-direction: row-reverse;
  align-items: center;
  color: white;
  box-sizing: border-box;
  justify-content: space-between;
}

.appNav {
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.headerIcon {
  display: flex;
  flex: 0 0 46px;
  justify-content: center;
  align-items: center;
}

.searchBar {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  padding: 0;
  padding-left: 46px;
  height: 46px;
  width: 46px;
  box-sizing: border-box;
  background-image: url(./images/search.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 16px center;
  background-color: #0B81EA;
  color: #0B81EA;
  font-size: 14px;
  border: none;
}

.searchBar::placeholder {
  color: #0B81EA;
  font-size: 14px;
}

.searchBar:focus {
  width: 100%;
  background-color: white;
  background-image: url(./images/search-focus.png);
  color: #0B81EA;
}

.searchBar:focus + .gameLogo {
  display: none;
}

.navMenu {
  display: flex;
  text-decoration: none;
  color: black;
}

.active {
  color: #0B81EA;
}

.gameLogo {
  display: flex;
  flex: 1;
  justify-content: center;
}

.appLogo {
  display: flex;
  justify-self: center;
  flex: 1;
}

.nav {
  display: flex;
  justify-self: flex-end;
  flex: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
