.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appMain {
  flex: 1;
}


.appHeader {
  background-color: #0B81EA;
  display: flex;
  height: 46px;
  flex-direction: row;
  align-items: center;
  color: white;
  box-sizing: border-box;
  padding: 0px 30px;
}

.appNav {
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navMenu {
  display: flex;
  text-decoration: none;
  color: black;
}

.active {
  color: #0B81EA;
}

.gameLogo {
  display: flex;
  justify-self: flex-start;
  flex: 1;
}

.appLogo {
  display: flex;
  justify-self: center;
  flex: 1;
}

.nav {
  display: flex;
  justify-self: flex-end;
  flex: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
