.Login {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: 100vh;
  padding: 40px;
}

.loginLogo {
  display: flex;
  justify-content : center;
  font-size: 16px;
}

.socialLogin {
  display: flex;
  justify-content : center;
  font-size: 16px;
}

.emailLoginForm {
  display: flex;
  flex-direction: column;
}

.emailLoginInput {
  font-size: 16px;
  margin: 0px;
  padding: 10px 0px;
  border: 0px;
  border-bottom: 1px solid #dddfe4;
}

.emailLoginButton {
  margin-top: 10px;
  font-size: 16px;
  background-color: lightgrey;
  color: white;
  font-weight: bold;
  padding: 10px 0px;
  border: 0px;
  border-radius: 6px;
}

.loginLink {
  margin-top: 6px;
  align-self: flex-end;
  color: #0b81ea;
}

.signupLink {
  margin-left: 10px;
  color: #0b81ea;
}